.main_person,
.main_person.jump,
.main_person.running {
    position: fixed;
    top: calc(100vh - 380px);
    left: calc((100vw/2) - 450px);
    width: 400px;
    height: 300px;
    background-image: url(../../img/Characters/personages.png);
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: 0 0;
    z-index: 10;
}

.main_person.stopping {
    animation: stoping 0.5s steps(3) infinite;
}

@keyframes stoping {
    0% {
        background-position: -3450px 0px;
    }
    100% {
        background-position: -4600px 0px;
    }
}

.main_person.running {
    animation: runing 0.7s steps(6) infinite;
}

@keyframes runing {
    0% {
        background-position: 0 0px;
    }
    100% {
        background-position: -2300px 0;
    }
}

.main_person.jump {
    animation: jumping 1.1s steps(3) infinite;
}

@keyframes jumping {
    0% {
        background-position: -2300px -20px;
        top: calc(100vh - 380px);
    }
    50% {
        top: calc(100vh - 580px);
    }
    100% {
        background-position: -3450px -20px;
        top: calc(100vh - 495px);
    }
}

.goal_keeper {
    position: absolute;
    top: calc(100vh - 380px);
    left: 1400px;
    width: 390px;
    height: 300px;
    background-image: url(../../img/Characters/personages.png);
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: -1100px -2380px; 
    transform: scaleX(-1);
    animation: stoping_gk .7s steps(3) infinite;
    z-index: 10;
}

@keyframes stoping_gk {
    0% {
        background-position: 0px -2380px;
    }
    100% {
        background-position: -1150px -2380px;
    }
}

@keyframes fall_gk {
    0% {
        background-position: -1500px -2380px;
    }
    100% {
        background-position: -2270px -2380px;
    }
}

.crowd_a,
.crowd_b ,
.crowd_a2,
.crowd_b2 {
    position: absolute;
    left: 420px;
    bottom: 0px;
    width: 1500px;
    height:560px;
    background-image: url(../../img/Characters/crowd_a.png);
    background-size: 1500px;
    z-index: -2;
}

.crowd_b {
    background-image: url(../../img/Characters/crowd_b.png);
    z-index: -4;
}

.crowd_a2 {
    background-image: url(../../img/Characters/crowd_a2.png);
    z-index: -2;
    visibility: hidden;
}

.crowd_b2 {
    background-image: url(../../img/Characters/crowd_b2.png);
    z-index: -4;
    visibility: hidden;
}

@keyframes goal {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -10px;
    }
}

.pilot {
    position: absolute;
    top: 210px;
    left: 50px;
    width: 300px;
    height: 300px;
    background-image: url(../../img/Characters/personages-pilot.png);
    background-repeat: no-repeat;
    background-size: 300px;
    transform: scaleX(-1);
    z-index: -2;
    visibility: hidden;
}

@keyframes pilot {
    0% {
        left: 100px;
    }
    100% {
        left: 50px;
    }
}