.local_no_collected,
.local_collected {
    position: fixed;
    top: 30px;
    left: calc((100vw/2) - 570px);
    width: 40px;
    height: 55px;
    background-image: url(../../img/screen/local_no_collected.png);
    background-size: 40px;
    opacity: 0.3;
}

.local_collected {
    background-image: url(../../img/screen/local_collected.png);
    opacity: 1;
    visibility: hidden;
}