.screen {
    position: fixed;
    top: 0;
    left: calc((100vw/2) - 600px);
    width: 10px;
    height: 10px;
    background-color: black;
    visibility: hidden;
    z-index: 300;
}

.local-no-collected,
.local-collected {
    position: fixed;
    bottom: 90vh;
    left: calc((100vw/2) - 570px);
    width: 40px;
    height: 55px;
    background-image: url(../../img/screen/local_no_collected.png);
    background-size: 40px;
    opacity: 0.5;
}

.local-collected {
    background-image: url(../../img/screen/local_collected.png);
    opacity: 1;
    visibility: hidden;
    z-index: 15;
}

.mail-no-collected,
.mail-collected {
    position: fixed;
    bottom: 90vh;
    left: calc((100vw/2) - 520px);
    width: 55px;
    height: 55px;
    background-image: url(../../img/screen/mail_no_collected.png);
    background-size: 60px;
    opacity: 0.5;
}

.mail-collected {
    background-image: url(../../img/screen/mail_collected.png);
    opacity: 1;
    visibility: hidden;
    z-index: 15;
}

.mobile-no-collected,
.mobile-collected {
    position: fixed;
    bottom: 90vh;
    left: calc((100vw/2) - 460px);
    width: 55px;
    height: 60px;
    background-image: url(../../img/screen/mobile_no_collected.png);
    background-size: 65px;
    opacity: 0.5;
    z-index: 14;
}

.mobile-collected {
    background-image: url(../../img/screen/mobile_collected.png);
    opacity: 1;
    visibility: hidden;
    z-index: 15;
}

.github-no-collected,
.github-collected {
    position: fixed;
    bottom: 90vh;
    left: calc((100vw/2) - 400px);
    width: 65px;
    height: 60px;
    background-image: url(../../img/screen/github_no_collected.png);
    background-size: 70px;
    opacity: 0.5;
    z-index: 14;
}

.github-collected {
    background-image: url(../../img/screen/github_collected.png);
    opacity: 1;
    visibility: hidden;
    z-index: 15;
}

.debug-mod-access {
    border: 1px solid red;
    position: absolute;
    bottom: 385px;
    left: 30px;
    width: 100px;
    height: 30px;
    border: none;
    opacity: 0;
    text-align: center;
    z-index: 30;
}

.game .character-name {
    position: fixed;
    bottom: 90vh;
    left: calc((100vw/2) - 300px);
    width: 165px;
    height: 40px;
    font-size: 30px;
    border: 1px solid red;
    background-color: #fbf5a0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006400;
    z-index: 14;
}
