/* MAIN CHARACTER */

.main-character,
.main-character.jump,
.main-character.running {
    position: fixed;
    bottom: 70px;
    left: calc((100vw/2) - 450px);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: 0 0;
    z-index: 10;
    visibility: hidden;
}

.main-character.Carol {
    background-image: url(../../img/Characters/character-carol.png);
}
.main-character.Michael {
    background-image: url(../../img/Characters/character-michael.png);
}

.main-character.Martha {
    background-image: url(../../img/Characters/character-martha.png);
}

.main-character.Pedro {
    background-image: url(../../img/Characters/character-pedro.png);
}

.main-character.stopping {
    animation: stoping 0.5s steps(3) infinite;
}

@keyframes stoping {
    0% {
        background-position: -3450px 0px;
    }
    100% {
        background-position: -4600px 0px;
    }
}

.main-character.running {
    animation: runing 0.7s steps(6) infinite;
}

@keyframes runing {
    0% {
        background-position: 0 0px;
    }
    100% {
        background-position: -2300px 0;
    }
}

.main-character.jump {
    animation: jumping 1.1s steps(3) infinite;
}

@keyframes jumping {
    0% {
        background-position: -2300px -20px;
        top: calc(100vh - 380px);
    }
    50% {
        top: calc(100vh - 580px);
    }
    100% {
        background-position: -3450px -20px;
        top: calc(100vh - 495px);
    }
}

.pilot.Carol {
    position: absolute;
    top: 210px;
    left: 50px;
    width: 300px;
    height: 300px;
    background-image: url(../../img/Characters/personages-pilot.png);
    background-repeat: no-repeat;
    background-size: 300px;
    transform: scaleX(-1);
    z-index: -2;
    visibility: hidden;
}

.pilot.Michael {
    background-position: 0px -340px;
}

.pilot.Martha {
    background-position: 0px -670px;
}

.pilot.Pedro {
    background-position: 0px -1000px;
}

@keyframes pilot {
    0% {
        left: 100px;
    }
    100% {
        left: 50px;
    }
}


/* RESPONSIVE EFFECT */


@media (max-width: 1200px) {
    .main-character,
    .main-character.jump,
    .main-character.running {
        transform: scale(0.7);
        bottom: 5px;
        left: calc((100vw/2) - 320px);
    }
    
    .pilot {
        top: 210px;
        left: 50px;
        transform: scale(0.7);
    }
}

