/* SUPPORTING CHARACTER */

/* INITIAL SCREEN */

.pet{
    position: absolute;
    bottom: 75px;
    width: 200px;
    height: 170px;
    animation: move 15s linear infinite;
    z-index: 5;
}

.pet .cat {
    width: 100%;
    height: 100%;
    background-image: url(../../img/Characters/cat.png);
    background-repeat: no-repeat;
    background-size: 1800px;
    background-position: 0 0;
    animation: run .5s steps(8) infinite;
}

@keyframes run {
    0% {
        background-position: 0 0px;
    }
    100% {
        background-position: -1800px 0;
    }
}

@keyframes move {
    0% {
        left: 0%;
    }
    50%{
        left: 100%;
        transform: scaleX(1);
    }
    50.1%{
        left: 100%;
        transform: scaleX(-1);
    }
    100% {
        left: 0%;
        transform: scaleX(-1);
    }
}

.initial-birds {
    position: absolute;
    bottom: 500px;
    width: 200px;
    height: 170px;
    animation: fly-move 10s linear infinite;
    z-index: 5;
}

@keyframes fly-move {
    0% {
        left: 200%;
        transform: scaleX(1);
    }
    50%{
        left: -100%;
        transform: scaleX(1);
    }
    50.1%{
        left: -100%;
        transform: scaleX(-1);
    }
    100% {
        left: 200%;
        transform: scaleX(-1);
    }
}

.bird-1,
.bird-2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 125px;
    height: 130px;
    background-image: url(../../img/Characters/bird.png);
    background-repeat: no-repeat;
    background-size: 1800px;
    background-position: 0 0;
    transform: scaleX(-1);
    animation: flyBird .5s steps(14) infinite;
    z-index: 50;
}

.bird-2 {
    position: absolute;
    bottom: 150px;
    left: 150px;
}

/* PHASE 1 */

.desktop-a,
.desktop-b {
    position: absolute;
    left: 1500px;
    bottom: 80px;
    width: 300px;
    height: 330px;
    background-image: url(../../img/Characters/desktop.png);
    background-position: -150px -35px;
    background-size: 2000px;
    z-index: 9;
    transition: 0.2s;
    animation: walking_a 0.5s steps(2) infinite;
}

@keyframes walking_a {
    0% {
        background-position: -150px -35px;
    }
    100% {
        background-position: -1150px -35px;
    }
}

.desktop-b {
    left: 500px;
    animation: jump_a 5s steps(2) infinite;
    visibility: hidden;
}

@keyframes jump_a {
    0%, 100% {
        background-position: -1150px -35px;
    }
    20% {
        background-position: -2150px -35px;
        transform: translateY(-50px);
    }
    20.01% {
        background-position: -1150px -35px;
        transform: translateY(0);
    }
}

.laptop-a,
.laptop-b {
    position: absolute;
    left: 1850px;
    bottom: 80px;
    width: 300px;
    height: 300px;
    background-image: url(../../img/Characters/laptop.png);
    background-position: -150px -70px;
    background-size: 2000px;
    z-index: 9;
    transition: 0.2s;
    animation: walking_b 0.5s steps(2) infinite;
}

@keyframes walking_b {
    0% {
        background-position: -150px -70px;
    }
    100% {
        background-position: -1130px -70px;
    }
}

.laptop-b {
    left: 850px;
    animation: jump_b 5s steps(2) infinite;
    visibility: hidden;
}

@keyframes jump_b {
    0%, 100% {
        background-position: -1150px -70px;
    }
    20% {
        background-position: -2150px -70px;
        transform: translateY(-50px);
    }
    20.01% {
        background-position: -1150px -70px;
        transform: translateY(0);
    }
}

.mobile-a,
.mobile-b {
    position: absolute;
    bottom: 70px;
    left: 2200px;
    width: 270px;
    height: 300px;
    background-image: url(../../img/Characters/tablet.png);
    background-position: -150px -80px;
    background-size: 2000px;
    z-index: 9;
    transition: 0.2s;
    animation: walking_c 0.5s steps(2) infinite;
}

@keyframes walking_c {
    0% {
        background-position: -150px -80px;
    }
    100% {
        background-position: -1180px -80px;
    }
}

.mobile-b {
    left: 1200px;
    animation: jump_c 3s steps(2) infinite;
    visibility: hidden;
}

@keyframes jump_c {
    0%, 100% {
        background-position: -1180px -80px;
    }
    20% {
        background-position: -2180px -80px;
        transform: translateY(-50px);
    }
    20.01% {
        background-position: -1180px -80px;
        transform: translateY(0);
    }
}

@keyframes moving {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
}

/* PHASE 2 */

.goal-keeper {
    position: absolute;
    bottom: 80px;
    left: 1400px;
    width: 390px;
    height: 300px;
    background-image: url(../../img/Characters/character-miguel.png);
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: -1100px 0px; 
    transform: scaleX(-1);
    animation: stoping_gk .7s steps(3) infinite;
    z-index: 10;
}

@keyframes stoping_gk {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -1150px 0px;
    }
}

@keyframes fall_gk {
    0% {
        background-position: -1500px 0px;
    }
    100% {
        background-position: -2270px 0px;
    }
}

.crowd-a,
.crowd-b ,
.crowd-a2,
.crowd-b2 {
    position: absolute;
    left: 420px;
    bottom: 0px;
    width: 1500px;
    height:560px;
    background-image: url(../../img/Characters/crowd_a.png);
    background-size: 1500px;
    z-index: -2;
}

.crowd-b {
    background-image: url(../../img/Characters/crowd_b.png);
    z-index: -4;
}

.crowd-a2 {
    background-image: url(../../img/Characters/crowd_a2.png);
    z-index: -2;
    visibility: hidden;
}

.crowd-b2 {
    background-image: url(../../img/Characters/crowd_b2.png);
    z-index: -4;
    visibility: hidden;
}

@keyframes goal {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -10px;
    }
}


/* PHASE 4 */

.controller {
    position: absolute;
    bottom: 1070px;
    right: -120px;
    width: 400px;
    height: 300px;
    background-image: url(../../img/Characters/personages.png);
    background-repeat: no-repeat;
    background-size: 5000px;
    background-position: -3450px -1680px;
    transform: scaleX(-1);
    z-index: 1;
    animation: stopping2 0.5s steps(3) infinite;
}

@keyframes stopping2 {
    0% {
        background-position: -3450px -1680px;
    }
    100% {
        background-position: -4600px -1680px;
    }
}

.bird-box {
    position: absolute;
    bottom: 1230px;
    left: 7000px;
    width: 300px;
    height: 300px;
    /* animation: bird-fly 10s linear infinite; */
}

@keyframes bird-fly {
    0% {
        bottom: 1230px;
        left: 7000px;
    }
    100% {
        bottom: 1230px;
        left: 2000px;
        visibility: hidden;
    }
}

.bird-3,
.bird-4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 125px;
    height: 130px;
    background-image: url(../../img/Characters/bird.png);
    background-repeat: no-repeat;
    background-size: 1800px;
    background-position: 0 0;
    transform: scaleX(-1);
    animation: flyBird .5s steps(14) infinite;
    z-index: 50;
}

.bird-4 {
    position: absolute;
    bottom: 150px;
    left: 150px;
}

@keyframes flyBird {
    0% {
        background-position: 0 0px;
    }
    100% {
        background-position: -1750px 0;
    }
}
