* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    width: 0;
    height: 0;
} */

body {
    height: 27000px;
}

.screen {
    border: 2px solid green;
    position: fixed;
    top: 0;
    left: calc((100vw/2) - 600px);
    width: 1200px;
    height: 100vh;
    z-index: 100;
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    width: 27000px;
    height: 200vh;
    display: flex;
}

/* INITIAL SCREEN */

.map .compens-screen-l {
    position: relative;
    width: calc((100vw - 1200px) /2);
    height: 100vh;
}

.map .initial-screen {
    position: relative;
    width: 1200px;
    height: 100vh;
}

.map .compens-screen-r {
    position: relative;
    width: calc((100vw - 1200px) /2);
    height: 100vh;
}

.map .compens-screen-l .initial-ground,
.map .compens-screen-r .initial-ground,
.map .initial-screen .initial-ground {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 129px;
    background-image: url(../../img/grounds/grounds.png);
}

.map .initial-screen .tree-1 {
    position: absolute;
    left: 0;
    bottom: 95px;
    width: 525px;
    height: 640px;
    background-image: url(../../img/greens/trees.png);
    background-position: -70px 0px;
    background-size: 1800px;
    z-index: -1;
}

.map .compens-screen-l .grass,
.map .compens-screen-r .grass,
.map .initial-screen .grass {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 70px;
    background-image: url(../../img/greens/grass.png);
    background-size: 550px;
    z-index: -2;
}

.map .initial-screen .tree-2 {
    position: absolute;
    left: -115px;
    bottom: 200px;
    width: 225px;
    height: 290px;
    background-image: url(../../img/greens/trees.png);
    background-position: -255px -250px;
    background-size: 700px;
    z-index: -3;
}

.map .initial-screen .tree-3 {
    position: absolute;
    right: -140px;
    bottom: 200px;
    width: 300px;
    height: 330px;
    background-image: url(../../img/greens/trees.png);
    background-size: 900px;
    z-index: -3;
}

.map .compens-screen-l .field,
.map .compens-screen-r .field,
.map .initial-screen .field {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 200px;
    background-image: url(../../img/greens/initial-back-field.png);
    background-size: 1400px;
    z-index: -5;
}

.map .initial-screen .wooden-board {
    position: absolute;
    right: 100px;
    bottom: 105px;
    width: 200px;
    height: 260px;
    background-image: url(../../img/signs/wood-plate.png);
    background-position: 0px 0px;
    background-size: 200px;
}


/* FASE 1 */

.map .fase1 {
    position: relative;
    width: 2525px;
    height: 100vh;
}

.map .fase1 .ground-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 129px;
    background-image: url(../../img/grounds/grounds.png);
    z-index: 1;
}

.map .fase1 .tree-4 {
    position: absolute;
    left: -245px;
    bottom: 95px;
    width: 525px;
    height: 640px;
    background-image: url(../../img/greens/trees.png);
    background-position: -670px 0px;
    background-size: 1800px;
    z-index: -1;
}

.map .fase1 .field {
    position: absolute;
    left: 0;
    bottom: 105px;
    width: 100%;
    height: 220px;
    background-image: url(../../img/greens/field-1.png);
    background-size: 800px;
    z-index: -5;
}

.map .fase1 .back-trees {
    position: absolute;
    left: 0;
    bottom: 255px;
    width: 100%;
    height: 150px;
    background-image: url(../../img/greens/Back-trees.png);
    z-index: -6;
} 


/* FASE 2 */

.map .fase2 {
    position: relative;
    width: 4000px;
    height: 100vh;
}

.map .fase2 .ground-6 {
    position: absolute;
    left: 405px;
    bottom: 0;
    width: 90%;
    height: 129px;
    background-image: url(../../img/grounds/grounds.png);
    background-position: 0 268px;
    z-index: 1;
}

.map .fase2 .water {
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 1500px;
    height: 80px;
    background-image: url(../../img/grounds/grounds.png);
    background-position: 0 550px;
    animation: water 50s linear infinite;
}

@keyframes water {
    0%, 100% {
        left: -20px;
    }
    50% {
        left: -800px;
    }
}

.map .fase2 .bridge-back {
    position: absolute;
    left: -170px;
    bottom: 65px;
    width: 760px;
    height:210px;
    background-image: url(../../img/street/bridge_back.png);
    background-size: 1000;
    z-index: 2;
}

.map .fase2 .bridge-front {
    position: absolute;
    left: -43px;
    bottom: 74px;
    width: 500px;
    height:180px;
    background-image: url(../../img/street/bridge_front.png);
    background-size: 2000;
    z-index: 10;
}

.map .fase2 .grandstand_a,
.map .fase2 .grandstand_b,
.map .fase2 .grandstand_c {
    position: absolute;
    left: 420px;
    bottom: 0px;
    width: 1500px;
    height:560px;
    background-image: url(../../img/street/grandstand_c.png);
    background-size: 1500px;
    z-index: -5;
}

.map .fase2 .grandstand_b {
    background-image: url(../../img/street/grandstand_b.png);
    z-index: -3;
}

.map .fase2 .grandstand_a {
    background-image: url(../../img/street/grandstand_a.png);
    z-index: -1;
}


/* FASE 3 */

/* .map .fase3 {
    position: relative;
    width: 4000px;
    height: 200vh;
} */

/* .map .fase3 .ground-1 {
    position: absolute;
    left: 1420px;
    bottom: 100vh;
    width: 100%;
    height: 129px;
    background-image: url(img/grounds/grounds.png);
    z-index: -4;
} */

/* .map .fase3 .sewer-entrance {
    position: absolute;
    top: calc(100vh - 183px);
    left: -550px;
    width: 1500px;
    height: 100vh;
    background-image: url(img/grounds/rocks-canyon.png);
    background-size: 1500px;
    z-index: 2;
} */

/* .map .fase3 .broken-wall {
    position: absolute;
    left: 220px;
    top: 120vh;
    width: 1200px;
    height: 500px;
    background-image: url(img/grounds/broken-wall.png);
    z-index: 3;
} */

/* .map .fase3 .sewer-wall-1,
.map .fase3 .sewer-wall-2,
.map .fase3 .sewer-wall-3 {
    position: absolute;
    left: -3000px;
    top: 120vh;
    width: 3220px;
    height: 100vh;
    background-image: url(img/sewer/sewer-wall.png);
    background-size: 100px;
    z-index: 3;
} */

/* .map .fase3 .sewer-wall-2 {
    left: 220px;
    top: calc(120vh + 500px);
    width: 1200px;
    z-index: 4;
} */

/* .map .fase3 .sewer-wall-3 {
    left: 1420px;
    width: 3220px;
} */


/* .map .fase3 .ground-sewer {
    position: absolute;
    top: calc(190vh - 160px);
    left: -3000px;
    width: 10000px;
    height: 160px;
    background-image: url(img/grounds/sewer-ground.png);
    background-size: 1000px;
    z-index: 5;
} */


/* .map .fase3 .sub-ground {
    position: absolute;
    left: 0;
    top: 100vh;
    width: 100%;
    height: 90%;
    background-image: url(img/grounds/rocks.png);
    background-size: 560px;
    z-index: -5;
} */



/* FASE 4 */

/* .map .fase4 {
    position: relative;
    width: 4000px;
    height: 100vh;
} */

/* .map .fase4 .ground-5 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 129px;
    background-image: url(img/grounds/grounds.png);
    background-position: 0 408px;
    z-index: 1;
} */
