* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    width: 0;
    height: 0;
} */

html {
    scroll-behavior: smooth;
}

body {
    height: 27000px;
}

.screen {
    border: 2px solid green;
    position: fixed;
    top: 0;
    left: calc((100vw/2) - 600px);
    width: 1200px;
    height: 100vh;
    z-index: 100;
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    width: 27000px;
    height: 200vh;
    display: flex;
}

/* INITIAL SCREEN */

.map .compens-screen-l {
    position: relative;
    width: calc((100vw - 1200px) /2);
    height: 100vh;
}

.map .initial-screen {
    position: relative;
    width: 1200px;
    height: 100vh;
}

.map .compens-screen-r {
    position: relative;
    width: calc((100vw - 1200px) /2);
    height: 100vh;
}

.map .compens-screen-l .initial-ground,
.map .compens-screen-r .initial-ground,
.map .initial-screen .initial-ground {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 129px;
    background-image: url(../../img/grounds/grounds.png);
}

.map .initial-screen .tree-1 {
    position: absolute;
    left: 0;
    bottom: 95px;
    width: 525px;
    height: 640px;
    background-image: url(../../img/greens/trees.png);
    background-position: -70px 0px;
    background-size: 1800px;
    z-index: -1;
}

.map .compens-screen-l .grass,
.map .compens-screen-r .grass,
.map .initial-screen .grass {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 70px;
    background-image: url(../../img/greens/grass.png);
    background-size: 550px;
    z-index: -2;
}

.map .initial-screen .tree-2 {
    position: absolute;
    left: -115px;
    bottom: 200px;
    width: 225px;
    height: 290px;
    background-image: url(../../img/greens/trees.png);
    background-position: -255px -250px;
    background-size: 700px;
    z-index: -3;
}

.map .initial-screen .tree-3 {
    position: absolute;
    right: -140px;
    bottom: 200px;
    width: 300px;
    height: 330px;
    background-image: url(../../img/greens/trees.png);
    background-size: 900px;
    z-index: -3;
}

.map .compens-screen-l .field,
.map .compens-screen-r .field,
.map .initial-screen .field {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 200px;
    background-image: url(../../img/greens/initial-back-field.png);
    background-size: 1400px;
    z-index: -5;
}

.map .initial-screen .wooden-board {
    position: absolute;
    right: 100px;
    bottom: 105px;
    width: 200px;
    height: 260px;
    background-image: url(../../img/signs/wood-plate.png);
    background-position: 0px 0px;
    background-size: 200px;
}


/* FASE 1 */

.map .fase1 {
    position: relative;
    width: 2525px;
    height: 100vh;
}

.map .fase1 .ground-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 129px;
    background-image: url(../../img/grounds/grounds.png);
    z-index: 1;
}

.map .fase1 .tree-4 {
    position: absolute;
    left: -245px;
    bottom: 95px;
    width: 525px;
    height: 640px;
    background-image: url(../../img/greens/trees.png);
    background-position: -670px 0px;
    background-size: 1800px;
    z-index: -1;
}

.map .fase1 .field {
    position: absolute;
    left: 0;
    bottom: 105px;
    width: 100%;
    height: 220px;
    background-image: url(../../img/greens/field-1.png);
    background-size: 800px;
    z-index: -5;
}

.map .fase1 .back-trees {
    position: absolute;
    left: 0;
    bottom: 255px;
    width: 100%;
    height: 150px;
    background-image: url(../../img/greens/Back-trees.png);
    z-index: -6;
} 


/* FASE 2 */

.map .fase2 {
    position: relative;
    width: 4000px;
    height: 100vh;
}

.map .fase2 .ground-6 {
    position: absolute;
    left: 405px;
    bottom: 0;
    width: 90%;
    height: 129px;
    background-image: url(../../img/grounds/grounds.png);
    background-position: 0 268px;
    z-index: 1;
}

.map .fase2 .water {
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 1500px;
    height: 80px;
    background-image: url(../../img/grounds/grounds.png);
    background-position: 0 550px;
    animation: water 50s linear infinite;
}

@keyframes water {
    0%, 100% {
        left: -20px;
    }
    50% {
        left: -800px;
    }
}

.map .fase2 .bridge-back {
    position: absolute;
    left: -170px;
    bottom: 65px;
    width: 760px;
    height:210px;
    background-image: url(../../img/street/bridge_back.png);
    z-index: 2;
}

.map .fase2 .bridge-front {
    position: absolute;
    left: -43px;
    bottom: 74px;
    width: 500px;
    height:180px;
    background-image: url(../../img/street/bridge_front.png);
    z-index: 10;
}

.map .fase2 .lake {
    border: 1px solid red;
    position: absolute;
    left: -350px;
    bottom: 45px;
    width: 1000px;
    height: 420px;
    background-image: url(../../img/greens/lake.png);
    background-size: 1000px;
    z-index: -7;
}

.map .fase2 .grandstand_a,
.map .fase2 .grandstand_b,
.map .fase2 .grandstand_c {
    position: absolute;
    left: 420px;
    bottom: 0px;
    width: 1500px;
    height:560px;
    background-image: url(../../img/street/grandstand_c.png);
    background-size: 1500px;
    z-index: -5;
}

.map .fase2 .grandstand_b {
    background-image: url(../../img/street/grandstand_b.png);
    z-index: -3;
}

.map .fase2 .grandstand_a {
    background-image: url(../../img/street/grandstand_a.png);
    z-index: -1;
}

.map .fase2 .outdoor {
    position: absolute;
    top: calc(100vh - 745px);
    left: 2000px;
    width: 1500px;
    height: 680px;
    background-image: url(../../img/street/outdoor.png);
    background-size: 500px;
    z-index: -1;
}




/* FASE 3 */

.map .fase3 {
    position: relative;
    width: 4000px;
    height: calc(100vh + 978px);
}

.map .fase3 .sidewalk-a,
.map .fase3 .sidewalk-b {
    position: absolute;
    left: 0;
    top: calc(100vh - 105px);
    width: 500px;
    height: 85px;
    background-image: url(../../img/grounds/sidewalk.png);
}

.map .fase3 .rock {
    position: absolute;
    left: 0;
    top: calc(100vh - 20px);
    width: 100%;
    height: 213px;
    background-image: url(../../img/grounds/rocks.jpg);
    background-size: 100px;
    z-index: 12;
}

.map .fase3 .sidewalk-b {
    left: 450px;
    width: 100%;
    z-index: 11;
}

.map .fase3 .subway-entrance {
    position: absolute;
    left: 200px;
    top: calc(100vh - 641px);
    width: 800px;
    height: 600px;
    background-image: url(../../img/subway/entrance-subway.png);
    z-index: 12;
}

.map .fase3 .subway-stairs {
    border: 1px solid red;
    position: absolute;
    left: 650px;
    bottom: 80px;
    width: 1300px;
    height: 880px;
    background-image: url(../../img/subway/subway.png);
    background-size: 3450px;
    background-position: -2100px -15px;
    transform: scaleX(-1);
    z-index: -1;
}

.map .fase3 .subway-ground {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-image: url(../../img/subway/subway-ground.png);
    background-size: 2000px;
    z-index: -2;
}

.map .fase3 .subway-pillars {
    position: absolute;
    left: 0;
    bottom: 110px;
    width: 100%;
    height: 640px;
    background-image: url(../../img/subway/subway-pillars.png);
    background-size: 2000px;
    z-index: -3;
}

.map .fase3 .subway-wall {
    position: absolute;
    left: 0;
    bottom: 144px;
    width: 100%;
    height: 640px;
    background-image: url(../../img/subway/subway-wall.png);
    background-size: 2000px;
    z-index: -5;
}























/* FASE 4 */

/* .map .fase4 {
    position: relative;
    width: 4000px;
    height: 100vh;
} */

/* .map .fase4 .ground-5 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 129px;
    background-image: url(img/grounds/grounds.png);
    background-position: 0 408px;
    z-index: 1;
} */
