/* FASE 4 */

/* MAP */

.phase-4-map {
    position: relative;
    bottom: 100vh;
    width: 9800px;
    height: 200vh;
    display: flex;
    align-items: flex-end;
}

.phase-4-map .titles-3 {
    position: absolute;
    bottom: 70vh;
    left: 1200px;
    width: 500px;
    height: 100px;
    font-size: 3em;
    color: #fff;
    text-shadow: 3px 3px 2px black;;
}

.phase-4-map .ground-5 {
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 100%;
    height: 129px;
    background-image: url(../../img/grounds/grounds.png);
    background-position: 0 408px;
    z-index: -1;
}

.phase-4-map .sands-a,
.phase-4-map .sands-b {
    position: absolute;
    left: -1250px;
    bottom: 100px;
    width: 11500px;
    height: 250px;
    background-image: url(../../img/desert/sands.png);
    background-position: -0px -245px;
    background-size: 1200px;
    z-index: -5;
}

.phase-4-map .sands-b {
    bottom: 220px;
    background-position: -0px -0px;
    z-index: -6;
}

.phase-4-map .sands-plataform {
    position: absolute;
    bottom: 42px;
    left: 1250px;
    width: 1500px;
    height: 198px;
    background-image: url(../../img/desert/sand-plataform.png);
    background-size: 1500px;
    z-index: 1;
}

.phase-4-map .canyon {
    position: absolute;
    bottom: 365px;
    left: 0px;
    width: 1300px;
    height: 370px;
    background-image: url(../../img/desert/canyon-.png);
    z-index: -7;
}

.phase-4-map .pile-stones {
    position: absolute;
    bottom: 370px;
    left: 2800px;
    width: 420px;
    height: 90px;
    background-image: url(../../img/desert/pile-stones.png);
    z-index: -5;
}

.phase-4-map .rock {
    position: absolute;
    left: 600px;
    bottom: -980px;
    width: 130%;
    height: 980px;
    background-image: url(../../img/grounds/rocks.jpg);
    background-size: 100px;
    z-index: 13;
}

.phase-4-map .city-b {
    position: absolute;
    left: -1000px;
    bottom: 0px;
    width: 1000px;
    height: 1000px;
    background-image: url(../../img/street/city-b.png);
    z-index: -8;
}

.phase-4-map .sky-fall {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 400vh;
    background-color: #043b3f;
    z-index: -10;
}

.phase-4-map .dark-clouds {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 820vh;
    background-image: url(../../img/greens/dark-clouds.png);
    z-index: -9;
}

.phase-4-map .moon {
    position: absolute;
    left: 4500px;
    bottom: 200px;
    width: 490px;
    height: 490px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 40px #fff, 0 0 60px #fff, 0 0 80px #fff, 0 0 100px #fff;
    background-image: url(../../img/desert/moon.png);
    background-position: -63px -63px;
    z-index: -10;
}

/* COMPONENTS */

.github {
    position: absolute;
    left: 2000px;
    bottom: 210px;
    width: 150px;
    height: 150px;
    background-image: url(../../img/signs/github.gif);
    background-size: 150px;
    z-index: 1;
}

.helicopter {
    position: relative;
    left: 3500px;
    bottom: 55px;
    width: 800px;
    height: 550px;
    transform: scaleX(-1);
    z-index: 11;
}

.helicopter .helicopter-body,
.helicopter .helicopter-glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../img/vehicles/helicopter-back.png);
    background-size: 800px;
}

.helicopter .helicopter-glass {
    background-image: url(../../img/vehicles/helicopter-glass.png);
    z-index: 1;
}

.helicopter .helicopter-propeller-a {
    position: absolute;
    top: 0;
    left: -10px;
    width: 660px;
    height: 140px;
    background-image: url(../../img/vehicles/helicopter-propeller.png);
    background-size: 1000px;
    background-position: -40px 0px;
    animation: propeller-a 1s steps(4) infinite;
    z-index: 2;
}

@keyframes propeller-a {
    0% {
        background-position: -40px 0px;
    }
    100% {
        background-position: -40px -548px;
    }
}

.helicopter .helicopter-propeller-b {
    position: absolute;
    top: 130px;
    left: 560px;
    width: 250px;
    height: 250px;
    background-image: url(../../img/vehicles/helicopter-propeller.png);
    background-size: 990px;
    background-position: -740px 0px;
    animation: propeller-b 1s steps(4) infinite;
    z-index: -1;
}

@keyframes propeller-b {
    0% {
        background-position: -725px 0px;
    }
    100% {
        background-position: -725px -1045px;
    }
}

.phase-4-map .phase-4-components .plataform-a,
.phase-4-map .phase-4-components .plataform-f {
    position: absolute;
    right: -100px;
    bottom: 90px;
    width: 2500px;
    height: 2000px;
    background-image: url(../../img/plataform/plataform.png);
    background-size: 2500px;
    z-index: -2;
} 

.phase-4-map .phase-4-components .plataform-f {
    background-image: url(../../img/plataform/plataform-f.png);
    z-index: 11;
}

.phase-4-map .phase-4-components .painel {
    position: absolute;
    bottom: 1080px;
    right: 200px;
    width: 600px;
    height: 500px;
    background-image: url(../../img/plataform/painel.png);
    background-size: 600px;
}

/* FINAL COMPONENTS */

.final-components .local-collected-final {
    position: absolute;
    bottom: 1400px;
    right: 590px;
    width: 40px;
    height: 55px;
    background-image: url(../../img/screen/local_collected.png);
    background-size: 40px;
    /* animation: local-collected 2s linear infinite; */
    z-index: 14;
    visibility: hidden;
}

.final-components .mail-collected-final {
    position: absolute;
    bottom: 1400px;
    right: 520px;
    width: 55px;
    height: 55px;
    background-image: url(../../img/screen/mail_collected.png);
    background-size: 60px;
    /* animation: mail-collected 2s linear infinite; */
    z-index: 14;
    visibility: hidden;
}

.final-components .mobile-collected-final {
    position: absolute;
    bottom: 1400px;
    right: 450px;
    width: 55px;
    height: 60px;
    background-image: url(../../img/screen/mobile_collected.png);
    background-size: 65px;
    /* animation: mobille-collected 2s linear infinite; */
    z-index: 14;
    visibility: hidden;
}

.final-components .github-collected-final {
    position: absolute;
    bottom: 1400px;
    right: 370px;
    width: 65px;
    height: 60px;
    background-image: url(../../img/screen/github_collected.png);
    background-size: 70px;
    /* animation: github-collected 2s linear infinite; */
    z-index: 14;
    visibility: hidden;
}

@keyframes local-collected {
    0% {
        left: calc((100vw/2) - 570px);
        bottom: 90vh;
    }
    100% {
        left: calc((100vw/2) - 30px);
        bottom: 410px;
        visibility: hidden;
    }
}
@keyframes mail-collected {
    0% {
        left: calc((100vw/2) - 520px);
        bottom: 90vh;
    }
    100% {
        left: calc((100vw/2) + 30px);
        bottom: 410px;
        visibility: hidden;
    }
}
@keyframes mobile-collected {
    0% {
        left: calc((100vw/2) - 460px);
        bottom: 90vh;
    }
    100% {
        left: calc((100vw/2) + 100px);
        bottom: 410px;
        visibility: hidden;
    }
}
@keyframes github-collected {
    0% {
        left: calc((100vw/2) - 400px);
        bottom: 90vh;
    }
    100% {
        left: calc((100vw/2) + 160px);
        bottom: 410px;
        visibility: hidden;
    }
}

.final-components .fireworks {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 1480px;
    right: 200px;
    width: 600px;
    height: 600px;
    background-image: url(../../img/signs/firework.gif);
    background-size: 600px;
    visibility: hidden;
    z-index: -5;
}

.final-components .hide-1,
.final-components .hide-2,
.final-components .hide-3,
.final-components .hide-4 {
    position: absolute;
    bottom: 1325px;
    right: 580px;
    width: 70px;
    height: 220px;
    z-index: 15;
    background-color: white;
    visibility: hidden;
}

.final-components .hide-2 {
    bottom: 1325px;
    right: 510px;
}

.final-components .hide-3 {
    bottom: 1325px;
    right: 440px;
}

.final-components .hide-4 {
    bottom: 1325px;
    right: 365px;
}

.final-components .explode-1,
.final-components .explode-2,
.final-components .explode-3,
.final-components .explode-4 {
    position: absolute;
    bottom: 1325px;
    right: 510px;
    width: 200px;
    height: 220px;
    background-image: url(../../img/signs/explode-1.png);
    background-repeat: no-repeat;
    background-size: 2000px;
    background-position: 0 0;
    /* animation: explode 0.5s steps(7) infinite; */
    z-index: 16;
    visibility: hidden;
}

.final-components .explode-2 {
    bottom: 1325px;
    right: 445px;
    background-image: url(../../img/signs/explode-2.png);
}

.final-components .explode-3 {
    bottom: 1325px;
    right: 375px;
    background-image: url(../../img/signs/explode-3.png);
}

.final-components .explode-4 {
    bottom: 1325px;
    right: 300px;
    background-image: url(../../img/signs/explode-4.png);
}

@keyframes explode {
    0% {
        background-position: 0 0px;
    }
    100% {
        background-position: -2000px 0;
    }
}

.phase-4-components .linkedin-ballon {
    position: absolute;
    bottom: 1230px;
    right: 180px;
    width: 100px;
    height: 80px;
    background-image: url(../../img/signs/linkedin.gif);
    transform: scaleX(-1);
    background-size: 100px;
    cursor: pointer;
    visibility: hidden;
    z-index: 1;
}

.phase-4-components .linkedin-icon {
    position: absolute;
    bottom: 1250px;
    right: 204px;
    width: 64px;
    height: 38px;
    cursor: pointer;
    background-image: url(../../img/signs/linkedin.gif);
    background-size: 130px;
    background-position: -40px -30px;
    visibility: hidden;
    z-index: 2;
}

.final-components  .linkedin-link {
    position: absolute;
    bottom: 1230px;
    right: 200px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 30;
    visibility: hidden;
}

/* FINAL LINKS */

.final-links {
    position: absolute;
    /* top: calc(100vh - 635px); */
    bottom: 1270px;
    right: 290px;
    width: 460px;
    height: 280px;
    overflow: hidden;
    z-index: 20;
    visibility: hidden;
    /* animation: info-show 10s linear infinite; */
}

.final-links .message-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}

.final-links .message-form h1 {
    font-size: 24px;
    font-weight: 800;
}

.final-links .message-form .form-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
}

.final-links .message-form .form-box .input-box {
    position: relative;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%;
}

.final-links .message-form .form-box .input-box input,
.final-links .message-form .form-box .input-box textarea {
    width: 100%;
    resize: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 300;
    color: #000;
    border: none;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    transition: 0.5S;
}

.final-links .message-form .form-box .input-box textarea {
    height: 120px;
}

.final-links .message-form .form-box .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0 0 15px;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    color: #333;
}

.final-links .message-form .form-box .input-box input:focus,
.final-links .message-form .form-box .input-box input:valid,
.final-links .message-form .form-box .input-box textarea:focus,
.final-links .message-form .form-box .input-box textarea:valid {
    width: 70%;
    transform: translateX(132px);
}

.final-links .message-form .form-box .input-box input:focus ~ span,
.final-links .message-form .form-box .input-box input:valid ~ span,
.final-links .message-form .form-box .input-box textarea:focus ~ span,
.final-links .message-form .form-box .input-box textarea:valid ~ span {
    transform: translateX(-30px);
    font-weight: 500;
    letter-spacing: 1px;
    color: #074518;
    margin-left: 10px;
}

.final-links .message-form .form-box .input-box .send {
    position: relative;
    bottom: 0px;
    left: -130px;
    color: #006400;
    border: 1px solid #006400;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    max-width: 150px;
    padding: 5px;
}


















.final-links .info-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}

.final-links .info-links .contact-form {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.final-links .info-links .contact-form .icon {
    width: 40px;
}

.final-links .info-links .contact-form .icon-local {
    width: 35px;
}

.final-links .info-links h1 .icon-git {
    position: relative;
    top: 4px;
    width: 130px;
}

.final-links .info-links .contact-form .info {
    font-size: 20px;
    font-weight: 500;
}

.final-links .info-links .contact-form .link {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

@keyframes info-show {
    0% {
        height: 40px;
    }
    100% {
        height: 280px;
    }
}
